#pokemons-list {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 380px) {
  #pokemons-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  #pokemons-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  #pokemons-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.pokemon-item {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 0.7rem;
  color: white;
  font-weight: bold;
  border-radius: 1rem;
}

.pokemon-item .number {
  color: black;
  opacity: 0.3;
  text-align: right;
  font-size: 0.625rem;
}

.pokemon-item .name {
  color: white;
  margin-bottom: 0.25rem;
  text-transform: capitalize;
}

.pokemon-item .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon-item .detail .types {
  margin: 0;
  padding: 0;
  list-style: none;
}

.type-item {
  color: white;
  padding: 0.25rem 0.5rem;
  font-size: 0.625rem;
  margin: 0.125rem 0;
  border-radius: 1rem;
  filter: brightness(1.1);
}

.pokemon-item .detail img {
  max-width: 100%;
  height: 70px;
}

.normal {background-color: #CBC7BE;}
.fire {background-color: #FFC39F;}
.grass {background-color: #BDDEB1;}
.water {background-color: #B1D6DE;}
.bug {background-color: #D8DC7E;}
.electric {background-color: #FDDC99;}
.ice {background-color: #C3EAE5;}
.fighting {background-color: #C09491;}
.poison {background-color: #CA7FDC;}
.ground {background-color: #CDC0B7;}
.flying {background-color: #C7CCE2;}
.psychic {background-color: #EB96AD;}
.rock {background-color: #C8CBC4;}
.ghost {background-color: #D8C3E4;}
.dragon {background-color: #AC9DDE;}
.dark {background-color: #A59B99;}
.steel {background-color: #C4C9CD;}
.fairy {background-color: #F5CCDE;}
.starter {background-color: #BAE0C9;}
.gimmick {background-color: #8ED0E0;}
.legend {background-color: #CA7FDC;}

/*https://aminoapps.com/c/pokemon/page/blog/my-favorite-pokemon-of-every-type/lbhQ_uD6znGpPX788kRmJvvG4vEDog*/
