#pokemons-list {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 380px) {
  #pokemons-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  #pokemons-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  #pokemons-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.pokemon-item {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 0.7rem;
  color: white;
  font-weight: bold;
  border-radius: 1rem;

}

.pokemon-item .number {
  color: black;
  opacity: 0.3;
  text-align: right;
  font-size: 0.625rem;
}

.pokemon-item .name {
  color: white;
  margin-bottom: 0.25rem;
  text-transform: capitalize;
}

.pokemon-item .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon-item .detail .types {
  margin: 0;
  padding: 0;
  list-style: none;
}

.type-item {
  color: white;
  padding: 0.25rem 0.5rem;
  font-size: 0.625rem;
  margin: 0.125rem 0;
  border-radius: 1rem;
  filter: brightness(1.1);
}

.pokemon-item .detail img {
  max-width: 100%;
  height: 70px;
}

.grass {
  background-color: #49d0b0;
}
.fire {
  background-color: #ce1e1e;
}
.water {
  background-color: #22aeb3;
}
.bug {
  background-color: #b3b019;
}

/*https://aminoapps.com/c/pokemon/page/blog/my-favorite-pokemon-of-every-type/lbhQ_uD6znGpPX788kRmJvvG4vEDog*/